services:
  backend:
    build: ./api
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./api:/app
      - ./data:/app/data
    ports:
      - "8000:8000"
    depends_on:
      - mysql
      - mongo
      - rabbitmq

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  worker:
    build: ./worker
    command: python etl_worker.py
    volumes:
      - ./worker:/worker
      - ./data:/worker/data
    depends_on:
      - backend
      - rabbitmq
      - mysql
      - mongo

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: etl_system
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  mysql_data:
  mongo_data:
